
/*
body {
	font-family: "Spline Sans", sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	background-color: var(--c-ash);
}

.cards {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2.5rem;
	width: 90%;
	max-width: 1000px;
	margin: 10vh auto;
}

.card {
	border-radius: 16px;
	box-shadow: 0 30px 30px -25px rgba(#4133B7, .25);
	max-width: 300px;
}

.information {
	background-color: var(--c-white);
	padding: 1.5rem;

	.tag {
		display: inline-block;
		background-color: var(--c-titan-white);
		color: var(--c-indigo);
		font-weight: 600;
		font-size: 0.875rem;
		padding: 0.5em 0.75em;
		line-height: 1;
		border-radius: 6px;
		& + * {
			margin-top: 1rem;
		}
	}

	.title {
		font-size: 1.5rem;
		color: var(--c-void);
		line-height: 1.25;
		& + * {
			margin-top: 1rem;
		}
	}

	.info {
		color: var(--c-charcoal);
		& + * {
			margin-top: 1.25rem;
		}
	}


	.details {
		display: flex;
		gap: 1rem;
		div {
			padding: .75em 1em;
			background-color: var(--c-titan-white);
			border-radius: 8px;
			display: flex;
			flex-direction: column-reverse;
			gap: .125em;
			flex-basis: 50%;
		}
		
		dt {
			font-size: .875rem;
			color: var(--c-cold-purple);
		}
		
		dd {
			color: var(--c-indigo);
			font-weight: 600;
			font-size: 1.25rem;
		}
	}
}



	

	
	.title {
		font-weight: 600;
		font-size: 1.25rem;
		color: var(--c-coffee);
		& + * {
			margin-top: .75rem;
		}
	}
	
	.info {
		& + * {
			margin-top: 1rem;
		}
	}*/


body {
    font-family: "Spline Sans", sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background-color: var(--c-ash);
}

.card-container {

    top: 72%;
    width: 100%;
    position: absolute;
    padding-top: 0px;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    width: 90%;
    max-width: 1000px;
    /*margin: 10vh auto;*/
    margin-top: 0;
	margin-right: auto;
	margin-bottom: 10vh;
	margin-left: auto;
}


.card {
	background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
}

.information {
	background: #fff;
    background-color: var(--c-white);
    padding: 1.5rem;
}

.information .tag {
    display: inline-block;
    background-color: var(--c-titan-white);
    color: var(--c-indigo);
    font-weight: 600;
    font-size: 0.875rem;
    padding: 0.5em 0.75em;
    line-height: 1;
    border-radius: 6px;
    & + * {
        margin-top: 1rem;
    }
}

.information .title {
    font-size: 1.5rem;
    color: #626262;
    line-height: 1.25;
    & + * {
        margin-top: 1rem;
    }
}

.information .info {
    color: #626262;
    & + * {
        margin-top: 1.25rem;
    }
}

.information .details {
    display: flex;
    gap: 1rem;
}

.information .details div {
    padding: .75em 1em;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column-reverse;
    gap: .125em;
    flex-basis: 50%;
}

.information .details dt {
    font-size: .875rem;
    color: var(--c-cold-purple);
}

.information .details dd {
    color: #00b4dd;
    font-weight: 600;
    font-size: 1.25rem;
}

.card .title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #626262;;
    & + * {
        margin-top: .75rem;
    }
}

.card .title2 {
    font-weight: 600;
    font-size: 1.25rem;
    color: #fff;
    & + * {
        margin-top: .75rem;
    }
}

.cardbtn {
	background-color: #fff;
	color: black;
}
.card .info {
    & + * {
        margin-top: 1rem;
    }
}

.tarjeta {
	background: #fff;
}

.tarjeta1 {
	background: #ffb230;
}